.footer-component {
  background-color: #3e2c41;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 200px;

  &__contact {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: rgba($color: #ffffff, $alpha: 0.5);

    &-email {
      margin-top: 8px;
      font-size: 20px;
      color: #ffffff;
      text-transform: lowercase;
    }
  }
}
