.welcome-section-component {
  height: 100vh;
  position: relative;
  user-select: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  &__title {
    font-size: 24px;
    text-align: center;
    letter-spacing: 10px;
    color: var(--text-color);
  }

  &__links {
    display: flex;
    gap: 20px;
  }

  &__link {
    color: #ffffff;
    transition: color 0.5s;
    cursor: pointer;

    &:hover {
      color: #4ff36d;
    }
  }

  &__background {
    width: 100%;
    height: 100%;

    background: url('../../Assets/Wallpaper.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    position: absolute;
    z-index: -1;

    &-overlay {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
  }
}
