.about-section-component {
  height: 100vh;
  position: relative;
  display: flex;

  &__information {
    width: 50%;
    background: #827397;
    padding: 60px;

    display: flex;
    flex-direction: column;

    &-header {
      margin-bottom: 20px;
      color: #363062;

      font-size: 32px;
      font-family: Ubuntu;
    }

    &-body {
      font-size: 32px;
      font-family: UbuntuLight;
      color: #363062;
    }
  }

  &__background {
    flex: 1;
    background: url('../../Assets/Wallpaper-2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
