@font-face {
  font-family: Philosopher;
  src: url(./Assets/Philosopher-Regular.ttf);
}

:root {
  --bg-color: #333;
  --bg-hover-color: #4ff36d;
  --text-color: #f9f9f9;
  --footer-color: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Philosopher;
}