@font-face {
  font-family: Ubuntu;
  src: url(./Assets/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: UbuntuLight;
  src: url(./Assets/Ubuntu-Light.ttf);
}

@font-face {
  font-family: UbuntuBold;
  src: url(./Assets/Ubuntu-Bold.ttf);
}

:root {
  --bg-color: #333;
  --bg-hover-color: #4ff36d;
  --text-color: #f9f9f9;
  --footer-color: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
}
