/* Font */

@import url("http://fonts.cdnfonts.com/css/common-pixel");

/* Global Styling */

:root {
    --bg-color: #333;
    --bg-hover-color: #4ff36d;
    --text-color: #f9f9f9;
    --footer-color: #222222;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Common Pixel", sans-serif;
}

/* Navbar Styling */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg-color);
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 15px 20px;
    font-size: 17px;
    text-decoration: none;
}

nav li a:not(.active) {
    margin-top: 20px;
}

nav li a:hover:not(.active) {
    color: var(--bg-hover-color);
}

nav img {
    width: 60px;
    border-radius: 5px;
}

/* Welcome Section Styling */

/* TODO: Responsivness for the main height */

main {
    background-image: url("./images/wallpaper.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 845px;
    position: relative;
}

main h1 {
    text-align: center;
    font-size: 100px;
    letter-spacing: 10px;
    color: var(--text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

main span {
    font-size: 30px;
}

main button {
    padding: 20px 40px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
}

main button:hover {
    transition: 0.3s;
    background-color: var(--bg-color);
    color: var(--bg-hover-color);
}

main button:active {
    border: 10px solid var(--bg-hover-color);
}

/* Team Styling */

/* TODO: Responsivness for team height */

#team {
    text-align: center;
    height: 940px;
    width: 100%;
}
#team h1 {
    padding: 80px 0 30px 0;
}

#team h2 {
    padding-bottom: 100px;
}

.team-showcase {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 100px;
}

/* Team Member Styling */

#team .card {
    background-color: #ccc;
    width: 10%;
}

#team .container {
    padding: 10px 20px;
}

/* About Styling */

/* TODO: About Responsivness */

#about {
    background-color: var(--bg-color);
    height: 940px;
    width: 100%;
    text-align: center;
    color: var(--text-color);
}

#about h1 {
    padding: 100px 0;
    font-size: 40px;
}

.about-showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

.about-info {
    font-size: 30px;
}

#about img {
    width: 800px;
    height: 500px;
    border-radius: 15px;
}

/* Games Styling */

#games {
    height: 940px;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
}

#games h1 {
    padding: 80px 0 30px 0;
}

#games h2 {
    padding-bottom: 100px;
}

.games-showcase {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#games .card {
    background-color: var(--footer-color);
    width: 20%;
    border-radius: 10px;
}

#games .container {
    padding: 20px;
}

#games img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

/* Footer Styling */

footer {
    background-color: var(--footer-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 200px;
    padding-top: 50px;
    text-align: center;
}

footer .contact {
    font-size: 14px;
}
