@font-face {
  font-family: Ubuntu;
  src: url(./Assets/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: UbuntuLight;
  src: url(./Assets/Ubuntu-Light.ttf);
}

@font-face {
  font-family: UbuntuBold;
  src: url(./Assets/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: Elecstrom;
  src: url(./Assets/Elecstrom.ttf);
}

@font-face {
  font-family: RealYoung;
  src: url(./Assets/RealYoung.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
}

body {
  &::-webkit-scrollbar {
    display: none;
  }

  & {
    scrollbar-width: none; /* Firefox */
  }
}
